@font-face {
  font-family: "Sansation Bold";
  src: url("/static/fonts/Sansation_Bold.ttf");
}

@font-face {
  font-family: "Sansation Regular";
  src: url("/static/fonts/Sansation_Regular.ttf");
}

@font-face {
  font-family: "Sansation Light";
  src: url("/static/fonts/Sansation_Regular.ttf");
}

body, html {
  overflow: 'auto';
  height: 100vh;
  width: 100vw;
  background-color: red;
}

* {
  font-family: "Sansation Bold";
}